Email_Sender_with_GPT.json
{
  "name": "Email Sender",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -40
      ],
      "id": "ecc33fd8-dc0f-4975-b888-73bbcb4a8cc6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Dc9dNRBJJ2pjCMwt2AkeAlw5xsty0NY-Twd7HCJ1rAw",
          "mode": "list",
          "cachedResultName": "Email List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dc9dNRBJJ2pjCMwt2AkeAlw5xsty0NY-Twd7HCJ1rAw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dc9dNRBJJ2pjCMwt2AkeAlw5xsty0NY-Twd7HCJ1rAw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -60,
        -40
      ],
      "id": "1c3cdab8-d7a2-409f-ab7f-56a319e10ea5",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        120,
        -40
      ],
      "id": "8a016aac-8815-4571-a5bc-8fd3001439fb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -40
      ],
      "id": "7b0f79b4-7e83-47f7-9abc-b98947cccfed",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=All contacts needs to receive an email! 📧\n\nHere are the details:\n👤 Full Name: {{ $json[\"Full Name\"] }}\n✉️ Email: {{ $json[\"Email\"] }}\n📞 Contact: {{ $json[\"Contact\"] }}\n🕒 Submitted at: {{ $json['Submitted at'] }}\n\n✅ Send an email with Gmail to this user.\n✅ After sending, update the \"Sent\" status in Google Sheets.\n✅ Finally, send a confirmation email to notify that the task is completed. 🚀\n",
        "options": {
          "systemMessage": "You are a friendly and efficient automation assistant! 🤖✨  \nFor each contact in the loop:  \n1️⃣ Retrieve the contact details from Google Sheets 📄  \n2️⃣ Send a personalized email using Gmail 📧  \n3️⃣ Update the 'Sent' status in Google Sheets ✅  \n\n⚠️ Ensure each step is successfully completed before processing the next contact! 🚀\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        540,
        -40
      ],
      "id": "14e2cdfb-25a5-497f-a004-e13bb671de65",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        500,
        160
      ],
      "id": "b86cfa03-6244-4416-b0fe-7baa25ac60ea",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yI4FtrxZeeD6gn7V",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $json['Full Name'] }} Fresh content just dropped! Stay tuned for more updates!",
        "message": "=<!-- EMAIL TEMPLATE --> \nSubject: {{ $json['Full Name'] }}, fresh content just dropped!  Body: <html> <body>   <p>Hi {{ $json['Full Name'] }},</p>      <p>🚀 New post is live on Telegram!</p>      <p>     <a href=\"https://t.me/+zIG07u5mawgwMGJ1\"         style=\"          display: inline-block;          padding: 12px 24px;          background: #2481cc;          color: white;          text-decoration: none;          border-radius: 4px;          font-weight: bold;        \">        🔍 Dive in now     </a>   </p>      <p>Stay tuned for more updates!</p>      <p>Best regards,<br>Alinur Kusmanov</p>      <hr style=\"margin-top: 30px; border-color: #eee;\">   <p style=\"font-size: 0.8em; color: #777;\">     Sent to: {{ $json.Email }}<br>     Unsubscribe: [Your Unsubscribe Link]   </p> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        620,
        160
      ],
      "id": "e170e4dc-1044-495f-a5f4-5a0ccbe02dfa",
      "name": "Send a message in Gmail",
      "webhookId": "264a55d0-683a-4435-95e8-7c83a2fd678c"
    },
    {
      "parameters": {
        "subject": "=Confirmation mail sended to  {{ $('Edit Fields').item.json['Full Name'] }}",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        900,
        -40
      ],
      "id": "c6c67ef6-625a-424c-8723-b2c57c30d29c",
      "name": "Send a message",
      "webhookId": "6256dab7-0def-4df3-8e4b-d7d5d1a54c27",
      "credentials": {
        "gmailOAuth2": {
          "id": "y3bqokradhE3Xd6X",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Dc9dNRBJJ2pjCMwt2AkeAlw5xsty0NY-Twd7HCJ1rAw",
          "mode": "list",
          "cachedResultName": "Email List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dc9dNRBJJ2pjCMwt2AkeAlw5xsty0NY-Twd7HCJ1rAw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dc9dNRBJJ2pjCMwt2AkeAlw5xsty0NY-Twd7HCJ1rAw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Envoye": "Sent"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Submitted at ",
              "displayName": "Submitted at ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type of PC",
              "displayName": "Type of PC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Envoye",
              "displayName": "Envoye",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        720,
        160
      ],
      "id": "b577acfd-e703-4554-a45b-e87ac45f0546",
      "name": "Update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kcRaWUEnF0HLhZ3U",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03e2da0e-487d-4b61-b779-de39699a0c0a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bcdce9eb48db4da1c677ce483c77cd7b9ff0eb3176875925f54c821d5ceab9e5"
  },
  "id": "aWKeskUDHrwfQH21",
  "tags": []
}